#titulo-index{
    position: absolute;
    left: 39%;
    top: -5px;
}

.ao-vivo {
    width: 100%;
    display: flex;
    padding: 2em;
}

.campo-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 0.4em;
}

.modalidade {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    font-size: 25px;
}

.modalidade>p {
    color: red;
    font-size: 30px;
    font-weight: 700;
}

.placar-principal {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding: 0em;
    align-items: center;

}

.placar-principal>h1 {

    font-size: 30px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    font-weight: 600;
}

.time>img {
    width: 100px;
}

.score {
    font-size: 30px;
}

.campo-direita {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    gap: 50px;
    height: 300px;
    overflow-y: auto;
}

.player-score {
    display: flex;
    align-items: center;
    gap: 1em;
}

.player-score>img {
    width: 60px;
}

.campo-cronograma {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
}

.card-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 4px solid black;
    border-radius: 10px;
    width: 300px;
    height: 220px;
    padding: 0.5em;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.time-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    height: 80px;
}

.time-card>img {
    width: 50px;
}

.modalidade-card {
    font-size: 15px;
}

.sem-placar {
    margin-top: 30px;
    background-color: #e30613;
}