#titulo-placar{
    position: absolute;
    left: 42%;
    top: -5px;
    z-index: 0;
}

.container-placar{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    background-color: #f4f4f4;
    width: 50%;
    height: 100%;
    align-items: center;
    position: relative;
    margin: 5em;
    z-index: 10;
    padding: 5em;
    border-radius: 10px;
}

#pontuacao1, #pontuacao2{
    font-size: 120px;
}

#x{
    font-size: 50px;
}

.time-placar button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e30613;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

#time-nome{
    position: relative;
    top: 30px;
}

.mais{
    position: relative;
    right: 10px;
    transition: transform 0.5s ease;
}

.menos{
    position: relative;
    left: 10px;
    transition: transform 0.5s ease;
}

.botoes-placar{
    position: relative;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.botoes-placar button{
    background-color: #585656;
    color: white;
    border: 0;
    padding: 0.5em 1em;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.botoes-placar button:hover, .mais:hover{
    transform: scale(1.1);

}

.menos:hover{
    transform: scale(1.1);
}

.lista-jogadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    font-size: 20px;
}

.lista-jogadores>label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.lista-jogadores>label input[type="checkbox"]:checked {
    background-color: #585656;
}

.lista-jogadores>label{
    display: flex;
    align-items: center;
    gap: 10px;
}

#enviar{
    width: 200px;
    align-self: center;
    font-size: 16px;
}

#jogadores{
    border-radius: 50%;
}

.modal.placar{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
