@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url("cronograma.css");
@import url("index.css");
@import url("placar.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header {
    height: 100px;
    background-color: #e30613;
    color: white;
    z-index: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}


main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 10px;
}

section {
    width: 100%;
}

a{
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2em 4em;
}


.nav-left {
    font-size: 50px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;

}

.nav-middle {
    font-size: 30px;
    cursor: default;
}

.nav-middle>h1 {
    font-family: "Bayon", sans-serif;
    letter-spacing: 20px;
    font-weight: 400;
}

.nav-right {
    cursor: pointer;
}

.nav-right>img {
    width: 250px;

}

.menu {
    display: none;

}

.ativado {
    display: block;
    height: 500px;
    width: 300px;
    position: absolute;
    background-color: #e30613;
    border-bottom-right-radius: 20px;
    padding: 1em 2em;
    z-index: 100;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    gap: 20px;
}

.menu-items>li>a {
    color: white;
    text-decoration: none;
}

.menu-items>li {
    display: flex;
    gap: 15px;
}

.menu-items>li:last-child {
    position: relative;
    top: 13em;
    left: 70%;
}

.bi-x-lg {
    font-size: 40px;
    font-weight: 900;
}

